<!DOCTYPE html>
<html>
  <head>
    <title>Mi sitio de música</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-4">Mi sitio de música</h1>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title text-center mb-4">Artistas</h2>
              <p class="card-text">Mira la lista de artistas registrados en mi sitio de música.</p>
              <a href="/artistas" class="btn btn-primary w-100">Ver artistas</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title text-center mb-4">Géneros</h2>
              <p class="card-text">Explora los géneros musicales disponibles en mi sitio.</p>
              <a href="/generos" class="btn btn-primary w-100">Ver géneros</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title text-center mb-4">Canciones</h2>
                <p class="card-text">Explora un catálogo de canciones disponibles en mi sitio.</p>
                <a href="/canciones" class="btn btn-primary w-100">Ver canciones</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
